@page "/grades"
@inject Logic.SchoolsDbAccessLayer dbLayer
@inject NavigationManager navigationManager
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using SchoolsProjectBlazorDapper.Models;
@using MudBlazor;

<style>
    .selected {
        background-color: #1E88E5 !important;
    }
    .selected > td {
        color: white !important;
    }
    .selected > td .mud-input {
        color: white !important;
    }
</style>

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Grades</PageTitle>

@if (GradesTable.Count == 0)
{
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddGradePageRedirect">Add</MudButton>
    <p style="padding-top: 10px;"><em>Loading Grades...</em></p>
}
else
{
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddGradePageRedirect">Add</MudButton>
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" Disabled="@disableEditDelete" @onclick="(() => EditGradePageRedirect(selectedGrade))">Edit</MudButton>
    <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled="@disableEditDelete" @onclick="DeleteGrade">Delete</MudButton>
    <p><em>Select row for edit/delete</em></p>
    <MudTable Items="@GradesTable" Hover="true" Bordered="true" SortLabel="Sort By" AllowUnsorted="true"
              @ref="mudTable" RowClassFunc="@SelectedRowClassFunc" @bind-SelectedItem="selectedGrade"
              T="SH_Grade"
              OnRowClick="RowClickFunc"
              Filter="new Func<SH_Grade,bool>(FilterFunc1)">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Grades</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<SH_Grade, object>(x=>x.Grade ?? int.MaxValue)">Grade</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<SH_Grade, object>(x=>x.SH_PersonTeacher?.FirstName ?? string.Empty)">Teacher First Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<SH_Grade, object>(x=>x.SH_PersonTeacher?.LastName ?? string.Empty)">Teacher Last Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<SH_Grade, object>(x=>x.SH_PersonStudent?.FirstName ?? string.Empty)">Student First Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<SH_Grade, object>(x=>x.SH_PersonStudent?.LastName ?? string.Empty)">Student Last Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<SH_Grade, object>(x=>x.SH_d_Subject?.Name ?? string.Empty)">Subject Name</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Grade">@context.Grade</MudTd>
            <MudTd DataLabel="TeacherFirstName">@context.SH_PersonTeacher?.FirstName</MudTd>
            <MudTd DataLabel="TeacherLastName">@context.SH_PersonTeacher?.LastName</MudTd>
            <MudTd DataLabel="StudentFirstName">@context.SH_PersonStudent?.FirstName</MudTd>
            <MudTd DataLabel="StudentLastName">@context.SH_PersonStudent?.LastName</MudTd>
            <MudTd DataLabel="SubjectName">@context.SH_d_Subject?.Name</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] {10, 25, 50, 100}" />
        </PagerContent>
    </MudTable>
}


@code {
    // Data models
    List<SH_Grade> GradesTable = new();
    private SH_Grade selectedGrade = new();

    // Reference to table
    private MudTable<SH_Grade>? mudTable;

    // Display or no edit/delete buttons
    bool disableEditDelete = true;

    // String for filtering
    private string searchString1 = "";

    // Load table
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        GradesTable = await dbLayer.SH_GradesSelectAll();
    }

    // Filtering
    private string SelectedRowClassFunc(SH_Grade grade, int rowNumber)
    {
        if (mudTable?.SelectedItem != null && mudTable.SelectedItem.Equals(grade))
        {
            return "selected";
        }
        return string.Empty;
    }

    // If pressed on row activate edit/delete buttons
    private void RowClickFunc(TableRowClickEventArgs<SH_Grade> tableRowClickEventArgs)
    {
        disableEditDelete = false;
    }

    // Search in table functions
    private bool FilterFunc1(SH_Grade grade) => FilterFunc(grade, searchString1);
    private bool FilterFunc(SH_Grade grade, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if ($"{grade.Grade} {grade.SH_PersonTeacher?.FirstName} {grade.SH_PersonTeacher?.LastName} {grade.SH_PersonStudent?.FirstName} {grade.SH_PersonStudent?.LastName} {grade.SH_d_Subject?.Name}".ToLower().Contains(searchString.ToLower()))
            return true;
        return false;
    }

    // Delete grade if selected and pressed delete
    private async Task DeleteGrade()
    {
        await dbLayer.SH_GradesDeleteById(selectedGrade);
        navigationManager.NavigateTo(navigationManager.Uri, true);
    }

    // Redirect to page for editing grade
    private async Task EditGradePageRedirect(SH_Grade grade)
    {
        navigationManager.NavigateTo($"/grade-edit/{grade.Id}");
    }

    private async Task AddGradePageRedirect()
    {
        navigationManager.NavigateTo("/grade-add");
    }
}