@page "/grades"
@inject Logic.SchoolsDbAccessLayer dbLayer
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using SchoolsProjectBlazorDapper.Models;

<PageTitle>Grades</PageTitle>

<h5>Do you want to add grade?</h5>
<button style="height:30px; width:70px;" @onclick="AddGradeRedirect">Add</button>

<h3 style="margin-top: 30px;">All Grades</h3>

@if (GradesWithNames.Count == 0)
{
    <p><em>Loading Grades...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Grade</th>
                <th>Student ID</th>
                <th>Student Full Name</th>
                <th>Teacher ID</th>
                <th>Teacher Full Name</th>
                <th>Subject Name</th>
                <th>OPTIONS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grade in GradesWithNames)
            {
                <tr>
                    <td>@grade.Id</td>
                    <td>@grade.Grade</td>
                    <td>@grade.StudentId</td>
                    <td>@grade.StudentName</td>
                    <td>@grade.TeacherId</td>
                    <td>@grade.TeacherName</td>
                    <td>@grade.SubjectName</td>
                    <td><button style="height:30px; width: 80px;" @onclick="@(() => DeleteGradeRefresh(grade))">Delete</button>
                        <button style="height:30px; width: 80px;" @onclick="@(() => EditGradeRedirect(grade))">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<GradeWithNames> GradesWithNames = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        GradesWithNames = await dbLayer.GetGradesWithNames();
    }

    private async Task DeleteGradeRefresh(GradeWithNames grade)
    {
        await dbLayer.DeleteGrade(grade);
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }

    private async Task EditGradeRedirect(GradeWithNames grade)
    {
        NavigationManager.NavigateTo($"/edit-grade/{grade.Id}");
    }

    private async Task AddGradeRedirect()
    {
        NavigationManager.NavigateTo("/insert-grade");
    }
}
