@page "/people"
@inject Logic.SchoolsDbAccessLayer dbLayer
@attribute [StreamRendering]

@using SchoolsProjectBlazorDapper.Models;

<PageTitle>People</PageTitle>

<h3>People</h3>

@if (SH_Persons.Count == 0)
{
    <p><em>Loading People...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Type</th>
            <th>SchoolName</th>
            <th>DateOfBirth</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in SH_Persons)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.FirstName @person.LastName</td>
                <td>@person.Age</td>
                <td>@person.SH_d_Type.Name</td>
                <td>@person.SH_School.Name</td>
                <td>@person.DateOfBirth</td>
            </tr>
        }
    </tbody>
</table>
}

@code {
    List<SH_Person> SH_Persons = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        SH_Persons = await dbLayer.SH_PersonsSelect();
    }
}
