@page "/schools"
@inject Logic.SchoolsDbAccessLayer dbLayer
@attribute [StreamRendering]

@using SchoolsProjectBlazorDapper.Models;

<PageTitle>Schools</PageTitle>

<h3>Schools</h3>

@if (SH_Schools.Count == 0)
{
    <p><em>Loading Schools...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Number Students</th>
                <th>Number Teachers</th>
                <th>Country Name</th>
                <th>City Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var school in SH_Schools)
            {
                <tr>
                    <td>@school.Id</td>
                    <td>@school.Name</td>
                    <td>@school.NumStudents</td>
                    <td>@school.NumTeachers</td>
                    <td>@school.Country</td>
                    <td>@school.City</td>
                    <td>@school.Address</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<SH_School> SH_Schools = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        SH_Schools = await dbLayer.();
    }
}
