@page "/subjects"
@inject Logic.SchoolsDbAccessLayer dbLayer
@inject NavigationManager navigationManager
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using SchoolsProjectBlazorDapper.Models;
@using SchoolsProjectBlazorDapper.Components.Pages.Reusable;
@using MudBlazor

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@*Wait for everything to load*@
@if (SubjectsTable.Count == 0)
{
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddSubjectPageRedirect">Add</MudButton>
    <p style="padding-top: 10px;"><em>Loading Subjects...</em></p>
}
else
{
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddSubjectPageRedirect">Add</MudButton>
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" Disabled="@(SelectedSubject.Id == null)" @onclick="(() => EditSubjectPageRedirect(SelectedSubject))">Edit</MudButton>
    <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled="@(SelectedSubject.Id == null)" @onclick="DeleteSubject">Delete</MudButton>
    <SH_d_SubjectTable SubjectTable="@SubjectsTable" @bind-SelectedSubject="@SelectedSubject" @bind-SelectedSubject:event="SelectedSubjectChanged" />
}

@code {
    // Data models
    List<SH_d_Subject> SubjectsTable = new();
    private SH_d_Subject SelectedSubject = new();

    // Load table
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        SubjectsTable = await dbLayer.SH_d_SubjectsSelectAll();
    }

    // Delete subject if selected and pressed delete
    private async Task DeleteSubject()
    {
        await dbLayer.SH_d_SubjectsDeleteById(SelectedSubject);
        navigationManager.NavigateTo(navigationManager.Uri, true);
    }

    // Redirect to page for editing subject
    private void EditSubjectPageRedirect(SH_d_Subject subject)
    {
        navigationManager.NavigateTo($"/subject-edit/{subject.Id}");
    }

    // Redirect to page for adding subject
    private void AddSubjectPageRedirect()
    {
        navigationManager.NavigateTo("/subject-add");
    }
}
