@page "/classes"
@inject SchoolsDbAccessLayer dbLayer
@inject NavigationManager navigationManager
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using SchoolsProjectBlazorDapper.Data.Schools;
@using SchoolsProjectBlazorDapper.Components.Schools.Pages.Reusable;
@using MudBlazor

@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize]

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@*Wait for everything to load*@
@if (ClassesTable.Count == 0)
{
    <AuthorizeView Roles="Admin, Teacher">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddClassPageRedirect">Add</MudButton>
    </AuthorizeView>
    <p style="padding-top: 10px;"><em>Loading Classes...</em></p>
}
else
{
    <AuthorizeView Roles="Admin, Teacher">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddClassPageRedirect">Add</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Disabled="@(SelectedClass.Id == null)" @onclick="(() => EditClassPageRedirect(SelectedClass))">Edit</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled="@(SelectedClass.Id == null)" @onclick="DeleteClass">Delete</MudButton>
    </AuthorizeView>
    <SH_d_ClassesTable ClassTable="@ClassesTable" @bind-SelectedClass="@SelectedClass" @bind-SelectedClass:event="SelectedClassChanged" />
}

@code {
    // Data models
    List<SH_d_Class> ClassesTable = new();
    private SH_d_Class SelectedClass = new();

    // Load table
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        ClassesTable = await dbLayer.SH_d_ClassesSelectAll();
    }

    // Delete class if selected and pressed delete
    private async Task DeleteClass()
    {
        await dbLayer.SH_d_ClassesDeleteById(SelectedClass);
        navigationManager.NavigateTo(navigationManager.Uri, true);
    }

    // Redirect to page for editing class
    private void EditClassPageRedirect(SH_d_Class _class)
    {
        navigationManager.NavigateTo($"/class-edit/{_class.Id}");
    }

    // Redirect to page for adding class
    private void AddClassPageRedirect()
    {
        navigationManager.NavigateTo("/class-add");
    }
}
